/*******************

    Font Weights

********************/

.thin-text {
  -fx-font-family: "Inter Thin";
}

.extra-light-text {
  -fx-font-family: "Inter Extra Light";
}

.light-text {
  -fx-font-family: "Inter Light";
}
.regular-text {
  -fx-font-family: "Inter Regular";
}
.medium-text {
  -fx-font-family: "Inter Medium";
}
.semi-bold-text {
  -fx-font-family: "Inter Semi Bold";
}
.bold-text {
  -fx-font-family: "Inter Bold";
}
.extra-bold-text {
  -fx-font-family: "Inter Extra Bold";
}
.black-text {
  -fx-font-family: "Inter Black";
}

/*******************

    Font Weights

********************/
